Notes and caveats for adding encyclopedia entries:

<p />

<ul>
    <li><b>Please search for your topic before you attempt to add!</b>.  You <b>can</b> write alternate entries, however, <a href="http://aux.planetphysics.org/doc/newuser.html#alternate">if justified</a>. </li>
    <li>Check the requests list (or the pulldown below). Your entry may fulfill a request.</li>
    <li>You can use TeX-style international trigraphs (i.e., <b>\&quot;o</b> to make <b>&#x00F6;</b>) in your entry <b>and</b> its <a href="http://aux.planetphysics.org/doc/newuser.html#metadata">metadata</a>.</li>
    <li>Please see an <a href="http://aux.planetphysics.org/doc/newuser.html#mathworld">important notice</a> about using MathWorld</li>.
</ul>

<hr />

<p />