[% IF modern_entry %][% INCLUDE entryinteractionstyles.tt %][% END %]
<table[% IF is_forum %] class="pl-forum-view"[% END %] width="100%" cellpadding="0" cellspacing="0" style="border-collapse: collapse; table-layout: fixed;">

    <tr>
        <td>
            [% renderObj %]
        </td>
    </tr>

    <tr>
        <td>
		    [% IF is_forum AND watch %]<div class="pl-message-watch">[% watch %]</div>[% ELSE %][% watch %][% END %]
	    </td>
    </tr>
    <tr>
        <td>
            [% admin %]
        </td>    
    </tr>
        
    <tr>
        <td>
            [% author %]
        </td>
    </tr>

    <tr>
        <td>
            [% corrections %]
        </td>
    </tr>
        
    <tr>
        <td>
            [% messages %]
        </td>
    </tr>
        
    <tr>
        <td>
            [% interact %]
        </td>
    </tr>
</table>
