

    <div id="logged_in"> <h1> [% username %]</h1>
        <div class="logout"> <a href="/?op=logout">Logout</a> </div>

        <h2>Do Stuff</h2>
        <ul> 
            <li><a href="/?op=adden">Create Article</a></li>
            <li><a href="/?op=addobj;to=papers">Add a Paper</a></li>
            <li><a href="/?op=addobj;to=books">Add a Book</a></li>
            <li><a href="/?op=addobj;to=lec">Add a Lecture</a></li>
        </ul>
        
        <h2>My Stuff</h2>
        <ul> 
            <li><a href="/?op=edituserobjs">My Articles</a></li>
            <li><a href="/?op=editcors">Corrections ([% corrections %])</a></li>
            <li><a href="/?op=mailbox">Mailbox ([% mail %])</a></li>
            <li><a href="/?op=notices">Notices ([% notices %])</a></li>
            <li><a href="/?op=settings">My Account</a></li>
        </ul>

        <h2>Members Only</h2>   
        <ul>
            <li> <a href="/?op=useractivity">User activity</a></li>
            <li><a href="/?op=userlist">User list</a></li>
            <li><a href="/?op=sysstats">Sys stats</a></li>
        </ul>
    </div>
            
    [% IF editor %]
        <div id="editor"> <h1>Editor Tools </h1>
            <ul>
                <li> <a href="/?op=unpublished">Unpublished</a></li>
                <li><a href="/?op=deleted">Deleted</a></li>
            </ul>
        </div>
    [% END %]


