<section class="pl-sidebar-section" aria-label="Main menu">
  <h2 class="pl-sidebar-title">Main Menu</h2>
  <nav class="pl-sidebar-body" aria-label="Library navigation">
    <h3>Sections</h3>
    <a href="/encyclopedia">Encyclopedia</a>
    <a href="/?op=browse;from=papers">Papers</a>
    <a href="/?op=browse;from=books">Books</a>
    <a href="/?op=browse;from=lec">Lectures</a>
    <h3>Meta</h3>
    <a href="/?op=reqlist">Requests <span class="pl-sidebar-count">[% requests | html %]</span></a>
    <a href="/?op=orphanage">Orphanage <span class="pl-sidebar-count">[% orphans | html %]</span></a>
    <a href="/?op=unclassified">Unclassified <span class="pl-sidebar-count">[% unclassified | html %]</span></a>
    <a href="/?op=unproven">Unproven <span class="pl-sidebar-count">[% unproven | html %]</span></a>
    <a href="/?op=globalcors">Corrections <span class="pl-sidebar-count">[% corrections | html %]</span></a>
    <a href="/browse/categories/">Classification</a>
    <h3>Talkback</h3>
    <a href="/?op=viewpolls">Polls</a>
    <a href="/?op=forums">Forums</a>
    <a href="https://github.com/bloftin/PhysicsLibrary/issues">Bug Reports</a>
    <a href="/?op=feedback">Feedback</a>
    <h3>Downloads</h3>
    <a href="/?op=snapshots">Snapshots</a>
    <h3>Information</h3>
    <a href="/?op=license">Legalese</a>
    <a href="/?op=about">About</a>
  </nav>
</section>



