<html>
    <head>
        [% head %]
    </head>
    <body>
        <div id="container">
             [% header %]
            <div id="content">
                    <table width="0" cellpadding="0" cellspacing="4">
                    <tr> 
                        <td WIDTH="155" VALIGN="TOP" ALIGN="LEFT">
                            <div id="left">
                                [% sidebar %]
                            </div>
                        </td>

                        <td valign="top">
                            <div id="right">
                                    
                                    <div id="maincontent_box">

                                        [% IF search_results %]
                                            <!-- standard box -->
                                            <table width="100%">
                                                <tr>
                                                    <td>
                                                        <table WIDTH="100%" BORDER="0" CELLPADDING="1" CELLSPACING="0">

                                                            <!-- title -->
                                                            <tr>
                                                                <td WIDTH="100%" BGCOLOR="#003399">
                                                                    <font color="white" class="box_title">
                                                                        Search Results
                                                                    </font>
                                                                </td>
                                                            </tr>
                                                        
                                                            <!-- content -->
                                                            <tr>
                                                                <td WIDTH="100%">
                                                                    <!-- search resultes -->
                                                                    <div class="gcse-searchresults-only"></div>

                                                                </td>
                                                            </tr>
                                                            
                                                        </table>
                                                    </td>
                                                </tr>
                                                
                                            </table>
                                            <!-- end standard box -->


                                        [% ELSE %]

                                            <!-- standard box -->
                                            <table width="100%">
                                                <tr>
                                                    <td style="white-space:nowrap;">
                                                        <table WIDTH="100%" BORDER="0" CELLPADDING="1" CELLSPACING="0">

                                                            <!-- title -->
                                                            <tr>
                                                                <td WIDTH="100%" BGCOLOR="#003399">
                                                                    <font color="white" class="box_title">
                                                                        Welcome!
                                                                    </font>
                                                                </td>
                                                            </tr>
                                                        
                                                            <!-- content -->
                                                            <tr>
                                                                <td WIDTH="100%">
                                                                    <!-- about pl -->

                                                                    <p> Physics Library is a virtual community which aims to help make physics knowledge more accessible.  Physics Library's content is created collaboratively: the main feature is the <a href="/encyclopedia">physics encyclopedia</a> with entries written and reviewed by members.   The entries are contributed under the terms of the <a href="https://creativecommons.org/licenses/by-sa/4.0/"> Creative Commons Attribution-ShareAlike CC BY-SA 4.0 License </a>.</p>  
                                                    
                                                                    <p> Physics Library entries are written in <a href="https://www.latex-project.org/">LaTeX</a>, the <i>lingua franca</i> of the worldwide mathematics community.  All of the entries are automatically cross-referenced with each other, and the entire corpus is kept updated in real-time. </p>

                                                                    <p> In addition to the physics encyclopedia, there are  <a href="https://physicslibrary.org/?op=browse;from=books">books</a>, <a href="https://physicslibrary.org/?op=browse;from=lec">lectures</a>, <a href="https://physicslibrary.org/?op=browse;from=papers">papers</a> and  <a href="https://physicslibrary.org/?op=forums">forums</a>.  You also might want to check out encyclopedia <a href="https://physicslibrary.org/?op=reqlist">requests</a> if you would like to see something we don't have or want to get started contributing. </p>

                                                                    <p> Accounts are free and required to do anything other than browse, so <a href="https://physicslibrary.org/?op=newuser">sign up!</a> It only takes a minute. </p>

                                                                    <p>Browse Encyclopedia By: <a href="https://physicslibrary.org/encyclopedia">Encyclopedia</a>  </p>

                                                                </td>

                                                                    

                                                            </tr>
                                                            
                                                        </table>
                                                    </td>
                                                </tr>
                                                
                                            </table>
                                            <!-- end standard box -->

                                            <div style="height: 12px;"></div>

                                            [% latestmessages %]

                                            <div style="height: 8px;"></div>
                                        [% END %]
                                    </div>
                            </div>
                        </td>

                        <td WIDTH="9%" VALIGN="TOP" ALIGN="LEFT">
                            <div id="left">
                                [% top_users %]
                            </div>

                            <div id="poll_padding">
                                <div id="poll">
                                    [% poll %]
                                </div>
                            </div>

                            <div id="latest_padding">
                                <div id="latest">
                                    [% latestadditions %]
                                </div>
                            </div>

                            <div id="latest_padding">
                                <div id="latest">
                                    [% latestrevisions %]
                                    <center><font size="-2"><a href="/?op=enchrono&amp;mode=modified">(more)</a></font></center>
                                </div>
                            </div>

                        </td>


                        
                    </tr>

                </table>
            </div>
        </div>
        <!-- end container -->
    </body>
</html>

