<html>
  <head>
    <title>[% title | html %][% IF site_name && title != site_name %] | [% site_name | html %][% END %]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    [% IF no_index %]
      <meta name="robots" content="noindex,follow" />
    [% END %]

    <!-- favicon -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>

  </head>
  <body>
    [% header %]

    <!-- content and sidebar -->
    <table WIDTH="100%" CELLPADDING="0" CELLSPACING="0">
        <tr>
            <td WIDTH="155" VALIGN="TOP" ALIGN="LEFT">
                [% sidebar %]
            </td>
            <td VALIGN="TOP" ALIGN="LEFT" >
                [% content %]
            </td>
        </tr>
    </table>
  </body>
</html>
